<ion-view view-title="Playlist">
  <ion-content >
      <div class="list card">

  <div class="item item-avatar">
    <img src="{{firm_img}}">
    <h2>{{firm_title}}</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="{{firm_img}}">
    <p>
      {{shortdetail}}
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
    {{firm_tel}}
  </div>

  <a class="button button-block button-positive" href="tel:{{firm_tel}}">
     Call
  </a>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96235.63935266236!2d28.94229908693183!3d41.082898795099155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab66f383b19a3%3A0xf101276306067339!2zVMO8cmtpeWUgxLDFnyBCYW5rYXPEsSBHZW5lbCBNw7xkw7xybMO8aw!5e0!3m2!1str!2str!4v1490897618344" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
     
  
      
    
  </ion-content>
</ion-view>
